<div class='formation'>
	<div class='font-color3 police1 titreAccueil'>{{titre}}</div>
	<div class='table'>
		<div class='row'>
			<div class='cell bgcolor-site bandeau'></div>
			<div class='cell'>
				<div *ngFor="let maFormation of mesFormations" class='formationItem'>
					<div class='enteteFormation'>
					<div class='anneeFormation font-color3'>{{maFormation.annee}}</div>
					<div class='intituleFormation font-color1'>{{maFormation.intitule}}</div>
				</div>
				<div class='infoFormation'>
					<div class='descriptionFormation font-color3'>{{maFormation.description}}</div>
					<div class='complementFormation font-color3'>{{maFormation.complement}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
