.cv{
  margin: 40px;
}
.titreCv{
  font-size: 32px;
  text-align: center;
}
.intituleLienAdobe{
  text-align: center;
}
.lienAdobe{
  display: block;
  margin-top: 10px;
  text-align: center;
}
.lienCv{
  background-image: url('assets/img/cv/pdfIcon.png');
  background-repeat: no-repeat;
  background-position: top center;
  display:block;
  font-size: 32px;
  height: 60px;
  padding-top: 70px;
  margin: 50px 0px;
  text-align: center;
}
.lienCv:before{
  content: url('assets/img/cv/pdfIconGrey.png');
  display: none;
  position: absolute;
}
.lienCv:hover{
  background-image: url('assets/img/cv/pdfIconGrey.png');
}
